@media print {
  header, .button-container {
    display: none;
  }

  .worker-details-container {
    padding: 1rem;
  }

  .account-box {
    page-break-inside: avoid;
  }

  .action-btn {
    display: none;
  }

  .worker-table {
    font-size: 12pt;
  }
}

.action-btn.active {
  background-color: #f8b332; /* a deeper shade to show it's selected */
  color: black;
  transition: all 0.3s ease;
}