/* WorkerDetails.css */

.worker-details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fef6e4;
  min-height: 91vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.register-btn {
  background-color: #fdd835;
  color: black;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 16px;
}

.table-wrapper {
  flex-grow: 1;
  max-height: calc(100vh - 250px); /* adjust depending on header/register button height */
  overflow-y: auto;
  margin-bottom: 20px;
}



.worker-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.worker-table thead {
  background-color: #5c4a1f;
  color: white;
  text-align: left;
}

.worker-table th,
.worker-table td {
  padding: 12px 16px;
}

.worker-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.worker-table tbody tr:hover {
  background-color: #f1f1f1;
}

.delete-btn {
  background-color: #ff5252;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.pagination {

  margin-top: 20px;
  text-align: center;
  color: #333;
}

.pagination-controls {
  position: sticky;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  color: #333;
  background-color: #d6c49c;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  justify-content: space-between;
}

.pagination-controls button {
  background-color: #2b2b2b;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-number {
  background-color: white;
  padding: 6px 12px;
  border-radius: 4px;
  margin: 0 8px;
  font-weight: bold;
}

.items-per-page {
  padding-left:70%  ;
  display: flex;
  align-items: center;
  gap: 6px;
}

.items-per-page select {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #aaa;
  background: white;
}
